<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 * WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 * IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR
 * THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 * @category NoGlitchYo
 * @package NoGlitchYo_Google_Recaptcha
 * @author Maxime ELOMARI <maxime.elomari@gmail.com>
 * @copyright Copyright (c) 2015, Maxime Elomari
 * @license http://opensource.org/licenses/MIT
 */
-->
<config>
    <modules>
        <NoGlitchYo_GoogleRecaptcha>
            <version>1.0.0.0</version>
        </NoGlitchYo_GoogleRecaptcha>
    </modules>
    <global>
        <blocks>
            <grecaptcha>
                <class>NoGlitchYo_GoogleRecaptcha_Block</class>
            </grecaptcha>
        </blocks>
        <helpers>
            <grecaptcha>
                <class>NoGlitchYo_GoogleRecaptcha_Helper</class>
            </grecaptcha>
        </helpers>
        <models>
            <grecaptcha>
                <class>NoGlitchYo_GoogleRecaptcha_Model</class>
            </grecaptcha>
        </models>
        <events>
            <controller_action_predispatch_customer_account_loginPost>
                <observers>
                    <grecaptcha>
                        <class>grecaptcha/observer_customer</class>
                        <method>validateLogin</method>
                    </grecaptcha>
                </observers>
            </controller_action_predispatch_customer_account_loginPost>
            <controller_action_predispatch_customer_account_forgotpasswordpost>
                <observers>
                    <grecaptcha>
                        <class>grecaptcha/observer_customer</class>
                        <method>validateForgotPassword</method>
                    </grecaptcha>
                </observers>
            </controller_action_predispatch_customer_account_forgotpasswordpost>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <grecaptcha>
                        <class>grecaptcha/observer_customer</class>
                        <method>validateCreate</method>
                    </grecaptcha>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_predispatch_adminhtml_index_forgotpassword>
                <observers>
                    <grecaptcha>
                        <class>grecaptcha/observer_adminhtml</class>
                        <method>validateForgotPassword</method>
                    </grecaptcha>
                </observers>
            </controller_action_predispatch_adminhtml_index_forgotpassword>
            <admin_user_authenticate_before>
                <observers>
                    <grecaptcha>
                        <class>grecaptcha/observer_adminhtml</class>
                        <method>validateLogin</method>
                    </grecaptcha>
                </observers>
            </admin_user_authenticate_before>
        </events>
    </global>
    <frontend>
        <routers>
            <grecaptcha>
                <use>standard</use>
                <args>
                    <module>NoGlitchYo_GoogleRecaptcha</module>
                    <frontName>grecaptcha</frontName>
                </args>
            </grecaptcha>
        </routers>
        <layout>
            <updates>
                <grecaptcha>
                    <file>grecaptcha.xml</file>
                </grecaptcha>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <grecaptcha>
                    <file>grecaptcha.xml</file>
                </grecaptcha>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <grecaptcha>
            <general>
                <endpoint_uri>https://www.google.com/recaptcha/api/siteverify</endpoint_uri>
            </general>
            <keys>
                <site_key></site_key>
                <secret_key></secret_key>
            </keys>
            <recaptcha_on>
                <customer_account_create>1</customer_account_create>
                <customer_account_login>1</customer_account_login>
                <customer_account_forgotpassword>1</customer_account_forgotpassword>
                <checkout_onepage_index>1</checkout_onepage_index>
                <adminhtml_index_login>0</adminhtml_index_login>
                <adminhtml_index_forgotpassword>1</adminhtml_index_forgotpassword>
            </recaptcha_on>
        </grecaptcha>
    </default>
</config>
