<?xml version="1.0"?>

<config>
    <modules>
        <NoGlitchYo_GoogleRecaptcha>
            <version>1.0.0.0</version>
        </NoGlitchYo_GoogleRecaptcha>
    </modules>
    <global>
        <helpers>
            <grecaptcha>
                <class>NoGlitchYo_GoogleRecaptcha_Helper</class>
            </grecaptcha>
        </helpers>
        <models>
            <grecaptcha>
                <class>NoGlitchYo_GoogleRecaptcha_Model</class>
            </grecaptcha>
        </models>
    </global>
    <frontend>
        <routers>
            <grecaptcha>
                <use>standard</use>
                <args>
                    <module>NoGlitchYo_GoogleRecaptcha</module>
                    <frontName>grecaptcha</frontName>
                </args>
            </grecaptcha>
        </routers>
        <layout>
            <updates>
                <grecaptcha>
                    <file>grecaptcha.xml</file>
                </grecaptcha>
            </updates>
        </layout>
    </frontend>
    <default>
        <grecaptcha>
            <general>
                <site_key></site_key>
                <secret_key></secret_key>
            </general>
            <urls>
                <verify>https://www.google.com/recaptcha/api/siteverify</verify>
            </urls>
        </grecaptcha>
    </default>
</config>
